<template name="Footer">
  <div class="container-fluid wrapper-footer">
  	<div class="container wrapper-inner-footer">
  		<div class="col-xs-8 col-xs-offset-2">
  			<div class="col-xs-4">
  				<ul>
  					<li class="list-header"><b>About Us</b></li>
  					<li>The Team</li>
  					<li>Careers</li>
  					<li>Press</li>
  				</ul>
  			</div>
  			<div class="col-xs-4">
  				<ul>
  					<li class="list-header"><b>Contact Us</b></li>
  					<li>Help</li>
  					<li>Feedback</li>
  					<li>FAQ</li>
  				</ul>
  			</div>
  			<div class="col-xs-4">
  				<ul>
  					<li class="list-header"><b>Features</b></li>
  					<li>Recipes</li>
  					<li>Meal Planning</li>
  					<li>Grocery List</li>
  				</ul>
  			</div>
  		</div>
  		<div class="col-xs-12 text-center">
  			<hr>
  			<h4>Check Us Out</h4><br>
  			<i class="fa fa-twitter-square"></i>
  			<i class="fa fa-facebook-square"></i>
  			<i class="fa fa-google-plus-square"></i>
  		</div>
  	</div>    
  </div>
</template>
